.containerLogo {
    height: 140px;
    max-height: 30%;
    position: absolute;
    display: flex;
}

.containerLogo img {
    width: auto;
    height: 100%;
}

.boxLogo {
    padding: 8% 12%;
    display: flex;
    justify-content: center;
    background: rgba(20, 20, 20, 0.80);
}

.gradientLeft {
    width: 50px;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.80), rgba(0, 0, 0, 0));
}

@media (max-width: 768px) {
    .containerLogo {
        height: 13%;
    }
}